#sidebar
  #recent-posts-4.widget.widget_recent_entries
    %h3.title Recent Posts
    %ul
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/make-a-wish/"} Make A Wish
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/the-morning-dew/"} The Morning Dew
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/purple-haze/"} Purple Haze
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/bridge-to-nowhere/"} Bridge To Nowhere
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/the-lonely-ladybug/"} The Lonely Ladybug
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/moneys-take-a-bath/"} Monkeys Take a Bath

  #recent-comments-3.widget.widget_recent_comments
    %h3.title Recent Comments
    %ul#recentcomments
      %li.recentcomments
        %a.url{href: "http://www.elegantthemes.com/blog/theme-additions/new-theme-deepfocus", rel: "external nofollow"} New Theme: DeepFocus- Elegant Themes Blog
        on
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/purple-haze/#comment-616"} Purple Haze
      %li.recentcomments
        %a.url{href: "http://%/loveworld5", rel: "external nofollow"} Frankie
        on
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/18/at-vero-eos-et-accusamus-et-iusto/#comment-25"} At vero eos et accusamus et iusto
      %li.recentcomments
        %a.url{href: "http://%/loveworld4", rel: "external nofollow"} Soviet
        on
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/07/17/urna-eget-erat-non-purus/#comment-123"} Urna eget erat non purus
      %li.recentcomments
        %a.url{href: "http://%/loveworld3", rel: "external nofollow"} Light
        on
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/04/hello-world-2/#comment-297"} Neque porro quisquam est qui
      %li.recentcomments
        %a.url{href: "http://%/loveworld2", rel: "external nofollow"} Сергей
        on
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2006/09/28/aenean-bibendum-elementum-pede/#comment-10"} Aenean bibendum elementum pede

  #meta-3.widget.widget_meta
    %h3.title Meta
    %ul
      %li
        %a{href: "https://www.elegantthemes.com/preview/Chameleon/wp-login.php"} Log in
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/feed/", title: "Syndicate this site using RSS 2.0"}
          Entries
          %abbr{title: "Really Simple Syndication"} RSS
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/comments/feed/", title: "The latest comments to all posts in RSS"}
          Comments
          %abbr{title: "Really Simple Syndication"} RSS
      %li
        %a{href: "http://wordpress.org/", title: "Powered by WordPress, state-of-the-art semantic personal publishing platform."} WordPress.org

  #linkcat-2.widget.widget_links
    %h3.title Blogroll
    %ul.xoxo.blogroll
      %li
        %a{href: "http://codex.wordpress.org/"} Documentation
      %li
        %a{href: "http://wordpress.org/extend/plugins/"} Plugins
      %li
        %a{href: "http://wordpress.org/extend/ideas/"} Suggest Ideas
      %li
        %a{href: "http://wordpress.org/support/"} Support Forum
      %li
        %a{href: "http://wordpress.org/extend/themes/"} Themes
      %li
        %a{href: "http://wordpress.org/news/"} WordPress Blog
      %li
        %a{href: "http://planet.wordpress.org/"} WordPress Planet
