#left-area

  .entry.post.clearfix
    .post-thumbnail
      %img.post-thumb{alt: @idea.title, height: "186", src: @idea.preview_img_url, width: "186"}/
      %span.post-overlay
    %p= @idea.content.html_safe


