<div class="flex-container">
  <div class="flexslider" id="featured">
    <ul class="slides">
      {% for slide in slides %}
        <li class="slide flex-active-slide">
          <img alt="{{slide.title}}" height="332" src="{{ slide.image_url }}" width="960" />
        </li>
      <{% endfor %}
    </ul>
  </div>
</div>
