<div id="multi-media-bar">
  <h3 class="title">Мульти Media Bar</h3>
  <div class="clearfix" id="et-multi-media">
    <a href="#" id="left-multi-media">Previous</a>
    <a href="#" id="right-multi-media" next=""></a>
    <div id="media-slides" style="position: relative;">
      <div class="media-slide" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1;">
        <div class="thumb">
          <a class="fancybox" href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/2.jpg" rel="media" title="Make A Wish">
            <img alt="Make A Wish" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/2-120627_48x48.jpg" width="48" style="opacity: 1;">
            <span class="more" style="opacity: 0; display: inline;"></span>
          </a>
          <div class="media-description" style="display: none; opacity: 0; bottom: 63px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis porta nibh, a...</p>
            <span class="media-arrow"></span>
          </div>
        </div>
        <!-- end .thumb -->
        <div class="thumb">
          <a class="fancybox" href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/3.jpg" rel="media" title="The Morning Dew">
            <img alt="The Morning Dew" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/3-135379_48x48.jpg" width="48">
            <span class="more"></span>
          </a>
          <div class="media-description">
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;...</p>
            <span class="media-arrow"></span>
          </div>
        </div>
        <!-- end .thumb -->
        <div class="thumb">
          <a class="et-video fancybox" href="#et_video_post_270" title="Purple Haze">
            <img alt="Purple Haze" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/s-1-624464_48x48.png" width="48">
            <span class="more"></span>
          </a>
          <div class="media-description">
            <p>Nullam at massa orci. Nulla suscipit adipiscing tincidunt. Donec purus arcu, posuere et...</p>
            <span class="media-arrow"></span>
          </div>
        </div>
        <!-- end .thumb -->
        <div class="thumb">
          <a class="fancybox" href="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/s-3.png" rel="media" title="Bridge To Nowhere">
            <img alt="Bridge To Nowhere" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/s-3-630122_48x48.png" width="48">
            <span class="more"></span>
          </a>
          <div class="media-description">
            <p>Donec sed metus ipsum, laoreet suscipit purus. Fusce ante lorem, luctus et tincidunt...</p>
            <span class="media-arrow"></span>
          </div>
        </div>
        <!-- end .thumb -->
        <div class="thumb">
          <a class="fancybox" href="http://www.elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/6.jpg" rel="media" title="The Lonely Ladybug">
            <img alt="The Lonely Ladybug" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/6-82087_48x48.jpg" width="48">
            <span class="more"></span>
          </a>
          <div class="media-description">
            <p>Nullam at massa orci. Nulla suscipit adipiscing tincidunt. Donec purus arcu, posuere et...</p>
            <span class="media-arrow"></span>
          </div>
        </div>
        <!-- end .thumb -->
        <div class="thumb">
          <a class="et-video fancybox" href="#et_video_post_259" title="Monkeys Take a Bath">
            <img alt="Monkeys Take a Bath" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/7-78254_48x48.jpg" width="48">
            <span class="more"></span>
          </a>
          <div class="media-description">
            <p>Vivamus sit amet quam lacus, et suscipit massa. Morbi eget ligula vitae massa...</p>
            <span class="media-arrow"></span>
          </div>
        </div>
        <!-- end .thumb -->
        <div class="thumb last">
          <a class="fancybox" href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/8.jpg" rel="media" title="Birds of Beauty">
            <img alt="Birds of Beauty" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/8-70372_48x48.jpg" width="48">
            <span class="more"></span>
          </a>
          <div class="media-description">
            <p>Sed sed tellus ac turpis mollis euismod. Ut eget justo non felis sollicitudin suscipit....</p>
            <span class="media-arrow"></span>
          </div>
        </div>
        <!-- end .thumb -->
      </div>
      <!-- end .media-slide -->
      <div class="media-slide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1; opacity: 0;">
        <div class="thumb">
          <a class="fancybox" href="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/s-2.png" rel="media" title="Summer Wheat">
            <img alt="Summer Wheat" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/s-2-458164_48x48.png" width="48">
            <span class="more"></span>
          </a>
          <div class="media-description">
            <p>Donec sed metus ipsum, laoreet suscipit purus. Fusce ante lorem, luctus et tincidunt...</p>
            <span class="media-arrow"></span>
          </div>
        </div>
        <!-- end .thumb -->
        <div class="thumb">
          <a class="et-video fancybox" href="#et_video_post_253" title="Calm Before The Storm">
            <img alt="Calm Before The Storm" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/shutterstock_5055934-183251_48x48.jpg" width="48">
            <span class="more"></span>
          </a>
          <div class="media-description">
            <p>Donec auctor ullamcorper nunc, vitae pellentesque mi fringilla posuere. Maecenas semper...</p>
            <span class="media-arrow"></span>
          </div>
        </div>
        <!-- end .thumb -->
        <div class="thumb">
          <a class="fancybox" href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/shutterstock_20951311.jpg" rel="media" title="Bamboo Shoots">
            <img alt="Bamboo Shoots" class="multi-media-image" height="48" src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/shutterstock_20951311-105492_48x48.jpg" width="48">
            <span class="more"></span>
          </a>
          <div class="media-description">
            <p>Etiam cursus, nibh in suscipit tincidunt, ante enim scelerisque lacus, sed consectetur...</p>
            <span class="media-arrow"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
