<div id="#recent-posts-4" class="widget widget_recent_entries">
  <h3 class="title">Последние посты</h3>
  <ul>
    {% for post in recent_posts %}
      <li><a href="/posts/{{ post.id }}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
</div>
