#content.clearfix
  #left-area
    .entry.post.clearfix
      .post-thumbnail
        %img.post-thumb{alt: "Ut sagitti’s ultrices urna eget erat non", height: "186", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2008/09/L7-186x186.jpg", width: "186"}/
        %span.post-overlay
      / end .post-thumbnail
      %p
        Sed tempor lectus in risus. Nullam vestibulum, odio ac pulvinar condimentum, urna neque aliquet ipsum, in blandit velit nunc eget mauris. Suspendisse aliquet sem ut nulla.
        = succeed "." do
          %a{href: "../../../WhosWho/2008/?p=3#"} Cras mollis ornare nisl
      %p Cras rhoncus ipsum ac dolor. In hac habitasse platea dictumst. Nulla dapibus ultricies pede. Quisque augue risus, porttitor nec, suscipit ut, pellentesque quis, lacus. Duis adipiscing purus eu metus pharetra porttitor. Aenean sapien nisi, sodales non, facilisis nec, ultricies et, erat. Cras aliquam. Maecenas mi. Sed lacus arcu, malesuada id, ultricies et, ornare non, dolor. Maecenas turpis lacus, vehicula nec, blandit in, laoreet a, nibh. Donec aliquet. In et leo tincidunt tortor rhoncus convallis. Nulla facilisi. Praesent bibendum semper eros. Morbi risus. Nam tellus leo, ullamcorper egestas, venenatis quis, viverra ac, mauris. In hac habitasse platea dictumst. Curabitur at velit vel sem auctor hendrerit. Integer mauris orci, vehicula eu, feugiat ac, hendrerit ut, dolor. Fusce elit nulla, gravida quis, vulputate eu, rutrum vel, lectus. Integer cursus luctus nisl. Quisque quam. Aliquam lectus urna, porta in, viverra eu, pellentesque a, massa. Etiam eros sapien, porta et, aliquam et, bibendum sit amet, erat. Sed condimentum interdum lacus. In ut ante non felis tincidunt porta. Aenean aliquet ornare sem. Nunc dignissim, erat sit amet vulputate cursus, elit magna facilisis massa, quis hendrerit nunc odio id dui. Proin interdum dictum arcu. Pellentesque erat ante, ultricies ac, porttitor ac, dictum et, purus. Donec enim odio, gravida ut, imperdiet quis, rutrum ut, lacus.
      %p Etiam pharetra scelerisque diam. Maecenas varius augue vel urna. Vestibulum erat nisl, fringilla vel, mollis et, aliquam non, elit. Nulla malesuada turpis nec velit. Donec vitae sem a metus dictum molestie. Ut dignissim, odio non porttitor convallis, sapien leo viverra lorem, a consequat mauris erat sit amet dui. Nullam rutrum feugiat massa. Nullam lacinia purus vitae massa. Pellentesque vel tortor eget nulla ullamcorper vehicula. Cras egestas euismod magna. Praesent laoreet aliquet nulla. Aliquam arcu. Proin vel neque non ligula sodales sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed magna. Pellentesque aliquet mollis arcu. Morbi at felis. Suspendisse ligula. Aliquam nisl arcu, vehicula vitae, hendrerit ut, sodales eu, augue. Sed tristique pretium risus. Ut luctus, dui quis commodo luctus, quam nulla ultricies lorem, eu ornare nulla metus at leo. Praesent rhoncus sapien sit amet mauris. Aenean commodo erat eu eros. Morbi tristique, risus sed consequat bibendum, enim augue tincidunt quam, ac semper libero velit vitae eros.
    / end .entry
    / You can start editing here.
  / end #left-area
  #sidebar
    #recent-posts-4.widget.widget_recent_entries
      %h3.title Recent Posts
      %ul
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/make-a-wish/"} Make A Wish
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/the-morning-dew/"} The Morning Dew
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/purple-haze/"} Purple Haze
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/bridge-to-nowhere/"} Bridge To Nowhere
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/the-lonely-ladybug/"} The Lonely Ladybug
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/moneys-take-a-bath/"} Monkeys Take a Bath
    / end .widget
    #recent-comments-3.widget.widget_recent_comments
      %h3.title Recent Comments
      %ul#recentcomments
        %li.recentcomments
          %a.url{href: "http://www.elegantthemes.com/blog/theme-additions/new-theme-deepfocus", rel: "external nofollow"} New Theme: DeepFocus- Elegant Themes Blog
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/purple-haze/#comment-616"} Purple Haze
        %li.recentcomments
          %a.url{href: "http://%/loveworld5", rel: "external nofollow"} Frankie
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/18/at-vero-eos-et-accusamus-et-iusto/#comment-25"} At vero eos et accusamus et iusto
        %li.recentcomments
          %a.url{href: "http://%/loveworld4", rel: "external nofollow"} Soviet
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/07/17/urna-eget-erat-non-purus/#comment-123"} Urna eget erat non purus
        %li.recentcomments
          %a.url{href: "http://%/loveworld3", rel: "external nofollow"} Light
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/04/hello-world-2/#comment-297"} Neque porro quisquam est qui
        %li.recentcomments
          %a.url{href: "http://%/loveworld2", rel: "external nofollow"} Сергей
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2006/09/28/aenean-bibendum-elementum-pede/#comment-10"} Aenean bibendum elementum pede
    / end .widget
    #meta-3.widget.widget_meta
      %h3.title Meta
      %ul
        %li
          %a{href: "https://www.elegantthemes.com/preview/Chameleon/wp-login.php"} Log in
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/feed/", title: "Syndicate this site using RSS 2.0"}
            Entries
            %abbr{title: "Really Simple Syndication"} RSS
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/comments/feed/", title: "The latest comments to all posts in RSS"}
            Comments
            %abbr{title: "Really Simple Syndication"} RSS
        %li
          %a{href: "http://wordpress.org/", title: "Powered by WordPress, state-of-the-art semantic personal publishing platform."} WordPress.org
    / end .widget
    #linkcat-2.widget.widget_links
      %h3.title Blogroll
      %ul.xoxo.blogroll
        %li
          %a{href: "http://codex.wordpress.org/"} Documentation
        %li
          %a{href: "http://wordpress.org/extend/plugins/"} Plugins
        %li
          %a{href: "http://wordpress.org/extend/ideas/"} Suggest Ideas
        %li
          %a{href: "http://wordpress.org/support/"} Support Forum
        %li
          %a{href: "http://wordpress.org/extend/themes/"} Themes
        %li
          %a{href: "http://wordpress.org/news/"} WordPress Blog
        %li
          %a{href: "http://planet.wordpress.org/"} WordPress Planet
    / end .widget
  / end #sidebar
