#content.clearfix
  #left-area
    .entry.post.clearfix
      #et_pt_blog
        .et_pt_blogentry.clearfix
          %h2.et_pt_title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/05/ut-sagittis-ultrices-urna-eget-erat-non-purus-varius/"} Ut sagitti’s ultrices urna eget erat non
          %p.et_pt_blogmeta
            Posted by
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/author/admin/", rel: "author", title: "Posts by admin"} admin
            on Sep 5, 2008 in
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/", rel: "category tag", title: "View all posts in Blog"} Blog
            |
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/05/ut-sagittis-ultrices-urna-eget-erat-non-purus-varius/#comments", title: "Comment on Ut sagitti’s ultrices urna eget erat non"} 23 comments
          .et_pt_thumb.alignleft
            %img{alt: "Ut sagitti’s ultrices urna eget erat non", height: "184", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2008/09/L7-184x184.jpg", width: "184"}/
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/05/ut-sagittis-ultrices-urna-eget-erat-non-purus-varius/"}
              %span.overlay
          / end .thumb
          %p Sed tempor lectus in risus. Nullam vestibulum, odio ac pulvinar condimentum, urna neque aliquet ipsum, in blandit velit nunc eget mauris. Suspendisse aliquet sem ut nulla. Cras mollis ornare nisl. Morbi ac mi. Nunc eget nisi. Donec at enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed diam. Ut sagittis ultrices urna. Suspendisse eget erat non purus varius sodales.Vivamus volutpat risus non est. Nullam et ipsum. Nunc ac risus. Pellentesque consectetuer nisi a nulla porttitor tincidunt. Cras...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/05/ut-sagittis-ultrices-urna-eget-erat-non-purus-varius/"}
            %span read more
        / end .et_pt_blogentry
        .et_pt_blogentry.clearfix
          %h2.et_pt_title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/04/hello-world-2/"} Neque porro quisquam est qui
          %p.et_pt_blogmeta
            Posted by
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/author/admin/", rel: "author", title: "Posts by admin"} admin
            on Sep 4, 2008 in
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/", rel: "category tag", title: "View all posts in Blog"} Blog
            |
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/04/hello-world-2/#comments", title: "Comment on Neque porro quisquam est qui"} 9 comments
          .et_pt_thumb.alignleft
            %img{alt: "Neque porro quisquam est qui", height: "184", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/feature-4-47041_184x184.jpg", width: "184"}/
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/04/hello-world-2/"}
              %span.overlay
          / end .thumb
          %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/04/hello-world-2/"}
            %span read more
        / end .et_pt_blogentry
        .et_pt_blogentry.clearfix
          %h2.et_pt_title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/nam-libero-tempore-cum-soluta-nobis-est-2/"} Nam libero tempore, cum soluta nobis
          %p.et_pt_blogmeta
            Posted by
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/author/admin/", rel: "author", title: "Posts by admin"} admin
            on Aug 5, 2008 in
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/", rel: "category tag", title: "View all posts in Blog"} Blog
            |
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/nam-libero-tempore-cum-soluta-nobis-est-2/#comments", title: "Comment on Nam libero tempore, cum soluta nobis"} 6 comments
          .et_pt_thumb.alignleft
            %img{alt: "Nam libero tempore, cum soluta nobis", height: "184", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/6-858864_184x184.jpg", width: "184"}/
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/nam-libero-tempore-cum-soluta-nobis-est-2/"}
              %span.overlay
          / end .thumb
          %p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.Nullam ac erat. Donec a ipsum. Nullam tristique leo id...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/nam-libero-tempore-cum-soluta-nobis-est-2/"}
            %span read more
        / end .et_pt_blogentry
        .et_pt_blogentry.clearfix
          %h2.et_pt_title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/magna-suspendisse-eleifend-at-nulla/"} Magna suspendisse eleifend at nulla
          %p.et_pt_blogmeta
            Posted by
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/author/admin/", rel: "author", title: "Posts by admin"} admin
            on Aug 5, 2008 in
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/", rel: "category tag", title: "View all posts in Blog"} Blog
            |
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/magna-suspendisse-eleifend-at-nulla/#comments", title: "Comment on Magna suspendisse eleifend at nulla"} 6 comments
          .et_pt_thumb.alignleft
            %img{alt: "Magna suspendisse eleifend at nulla", height: "184", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/7-245685_184x184.jpg", width: "184"}/
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/magna-suspendisse-eleifend-at-nulla/"}
              %span.overlay
          / end .thumb
          %p Aliquet tellus cras, arcu accumsan lorem in, vestibulum dolor mus, suscipit suspendisse sed volutpat rutrum a, enim ut montes vulputate tortor luctus auctor. Habitasse arcu cupiditate. Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis porttitor leo velit, volutpat et lobortis fermentum, duis magna odio viverra phasellus vivamus maecenas. Auctor mus ut wisi justo condimentum. Arcu neque vitae aliquam, praesent tempus, interdum nisl velit tellus, ut nam sed nulla vitae, dolor arcu proin amet tortor libero. Non libero amet, dis...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/magna-suspendisse-eleifend-at-nulla/"}
            %span read more
        / end .et_pt_blogentry
        .et_pt_blogentry.clearfix
          %h2.et_pt_title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/etiam-placerat-ipsum-porttitor-ipsum/"} Etiam placerat ipsum porttitor ipsum
          %p.et_pt_blogmeta
            Posted by
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/author/admin/", rel: "author", title: "Posts by admin"} admin
            on Aug 5, 2008 in
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/", rel: "category tag", title: "View all posts in Blog"} Blog
            |
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/etiam-placerat-ipsum-porttitor-ipsum/#comments", title: "Comment on Etiam placerat ipsum porttitor ipsum"} 4 comments
          .et_pt_thumb.alignleft
            %img{alt: "Etiam placerat ipsum porttitor ipsum", height: "184", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/8-824930_184x184.jpg", width: "184"}/
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/etiam-placerat-ipsum-porttitor-ipsum/"}
              %span.overlay
          / end .thumb
          %p Mauris faucibus velit ac lorem. Aliquam auctor laoreet erat. Phasellus luctus odio nec risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque malesuada auctor nisl. Fusce non neque. Donec diam lorem, pharetra non, pulvinar id, luctus vel, urna. Nam suscipit, ipsum vitae tincidunt laoreet, enim dolor rhoncus ante, et consequat lorem purus eleifend risus. Vestibulum sit amet leo in purus fringilla laoreet. In hac habitasse platea dictumst. Sed leo. Maecenas iaculis vestibulum lorem. Etiam placerat...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2008/08/05/etiam-placerat-ipsum-porttitor-ipsum/"}
            %span read more
        / end .et_pt_blogentry
        .et_pt_blogentry.clearfix
          %h2.et_pt_title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/07/17/urna-eget-erat-non-purus/"} Urna eget erat non purus
          %p.et_pt_blogmeta
            Posted by
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/author/admin/", rel: "author", title: "Posts by admin"} admin
            on Jul 17, 2008 in
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/", rel: "category tag", title: "View all posts in Blog"} Blog
            |
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/07/17/urna-eget-erat-non-purus/#comments", title: "Comment on Urna eget erat non purus"} 12 comments
          .et_pt_thumb.alignleft
            %img{alt: "Urna eget erat non purus", height: "184", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/11-72641_184x184.jpg", width: "184"}/
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/07/17/urna-eget-erat-non-purus/"}
              %span.overlay
          / end .thumb
          %p Suspendisse aliquet sem ut nulla. Cras mollis ornare nisl. Morbi ac mi. Nunc eget nisi. Donec at enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed diam. Ut sagittis ultrices urna. Suspendisse eget erat non purus varius sodales. Aliquam imperdiet lobortis libero. Suspendisse scelerisque sagittis odio. Phasellus imperdiet interdum dolor. Mauris ante ante, gravida at, consectetuer quis, ullamcorper ornare, magna. Duis sed mauris sed libero tincidunt rutrum. In vulputate pretium dolor.Nullam...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2008/07/17/urna-eget-erat-non-purus/"}
            %span read more
        / end .et_pt_blogentry
        .et_pt_blogentry.clearfix
          %h2.et_pt_title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/27/vestibulum-eu-dui-eget-diam/"} Vestibulum eu dui eget diam
          %p.et_pt_blogmeta
            Posted by
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/author/admin/", rel: "author", title: "Posts by admin"} admin
            on Jan 27, 2008 in
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/", rel: "category tag", title: "View all posts in Blog"} Blog
            |
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/27/vestibulum-eu-dui-eget-diam/#respond", title: "Comment on Vestibulum eu dui eget diam"} 0 comments
          .et_pt_thumb.alignleft
            %img{alt: "Vestibulum eu dui eget diam", height: "184", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/10-558084_184x184.jpg", width: "184"}/
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/27/vestibulum-eu-dui-eget-diam/"}
              %span.overlay
          / end .thumb
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed pede felis, tempor eu, aliquet ut, pulvinar eu, nunc. Quisque sed magna non risus porta sollicitudin. Morbi congue sapien nec diam. Cras nibh lacus, ullamcorper sit amet, pretium congue, consectetuer convallis, metus. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt justo sed dolor.Nullam ac erat. Donec a ipsum....
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/27/vestibulum-eu-dui-eget-diam/"}
            %span read more
        / end .et_pt_blogentry
        .et_pt_blogentry.clearfix
          %h2.et_pt_title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/18/at-vero-eos-et-accusamus-et-iusto/"} At vero eos et accusamus et iusto
          %p.et_pt_blogmeta
            Posted by
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/author/admin/", rel: "author", title: "Posts by admin"} admin
            on Jan 18, 2008 in
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/", rel: "category tag", title: "View all posts in Blog"} Blog
            |
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/18/at-vero-eos-et-accusamus-et-iusto/#respond", title: "Comment on At vero eos et accusamus et iusto"} 0 comments
          .et_pt_thumb.alignleft
            %img{alt: "At vero eos et accusamus et iusto", height: "184", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/9-768135_184x184.jpg", width: "184"}/
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/18/at-vero-eos-et-accusamus-et-iusto/"}
              %span.overlay
          / end .thumb
          %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/18/at-vero-eos-et-accusamus-et-iusto/"}
            %span read more
        / end .et_pt_blogentry
        .et_pt_blogentry.clearfix
          %h2.et_pt_title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2006/09/28/aenean-bibendum-elementum-pede/"} Aenean bibendum elementum pede
          %p.et_pt_blogmeta
            Posted by
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/author/admin/", rel: "author", title: "Posts by admin"} admin
            on Sep 28, 2006 in
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/", rel: "category tag", title: "View all posts in Blog"} Blog
            |
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2006/09/28/aenean-bibendum-elementum-pede/#comments", title: "Comment on Aenean bibendum elementum pede"} 1 comment
          .et_pt_thumb.alignleft
            %img{alt: "Aenean bibendum elementum pede", height: "184", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/13-203097_184x184.jpg", width: "184"}/
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2006/09/28/aenean-bibendum-elementum-pede/"}
              %span.overlay
          / end .thumb
          %p Nulla ornare, nulla et egestas hendrerit, ipsum dui vulputate dolor, et ornare orci erat eleifend pede. Fusce eros libero, vestibulum non, elementum eu, suscipit eget, leo. Donec consectetuer tincidunt diam. Sed et mauris in ligula feugiat hendrerit. Cras neque purus, mollis non, adipiscing ac, pretium eget, turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vulputate metus in ligula. Ut at tellus. Suspendisse potenti. Mauris in orci eget risus condimentum tristique. Vivamus egestas, neque...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2006/09/28/aenean-bibendum-elementum-pede/"}
            %span read more
        / end .et_pt_blogentry
        .page-nav.clearfix
        / end .entry
      / end #et_pt_blog
    / end .entry
  / end #left-area
  #sidebar
    #recent-posts-4.widget.widget_recent_entries
      %h3.title Recent Posts
      %ul
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/make-a-wish/"} Make A Wish
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/the-morning-dew/"} The Morning Dew
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/purple-haze/"} Purple Haze
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/bridge-to-nowhere/"} Bridge To Nowhere
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/the-lonely-ladybug/"} The Lonely Ladybug
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/moneys-take-a-bath/"} Monkeys Take a Bath
    / end .widget
    #recent-comments-3.widget.widget_recent_comments
      %h3.title Recent Comments
      %ul#recentcomments
        %li.recentcomments
          %a.url{href: "http://www.elegantthemes.com/blog/theme-additions/new-theme-deepfocus", rel: "external nofollow"} New Theme: DeepFocus- Elegant Themes Blog
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/purple-haze/#comment-616"} Purple Haze
        %li.recentcomments
          %a.url{href: "http://%/loveworld5", rel: "external nofollow"} Frankie
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/01/18/at-vero-eos-et-accusamus-et-iusto/#comment-25"} At vero eos et accusamus et iusto
        %li.recentcomments
          %a.url{href: "http://%/loveworld4", rel: "external nofollow"} Soviet
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/07/17/urna-eget-erat-non-purus/#comment-123"} Urna eget erat non purus
        %li.recentcomments
          %a.url{href: "http://%/loveworld3", rel: "external nofollow"} Light
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2008/09/04/hello-world-2/#comment-297"} Neque porro quisquam est qui
        %li.recentcomments
          %a.url{href: "http://%/loveworld2", rel: "external nofollow"} Сергей
          on
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/2006/09/28/aenean-bibendum-elementum-pede/#comment-10"} Aenean bibendum elementum pede
    / end .widget
    #meta-3.widget.widget_meta
      %h3.title Meta
      %ul
        %li
          %a{href: "https://www.elegantthemes.com/preview/Chameleon/wp-login.php"} Log in
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/feed/", title: "Syndicate this site using RSS 2.0"}
            Entries
            %abbr{title: "Really Simple Syndication"} RSS
        %li
          %a{href: "http://www.elegantthemes.com/preview/Chameleon/comments/feed/", title: "The latest comments to all posts in RSS"}
            Comments
            %abbr{title: "Really Simple Syndication"} RSS
        %li
          %a{href: "http://wordpress.org/", title: "Powered by WordPress, state-of-the-art semantic personal publishing platform."} WordPress.org
    / end .widget
    #linkcat-2.widget.widget_links
      %h3.title Blogroll
      %ul.xoxo.blogroll
        %li
          %a{href: "http://codex.wordpress.org/"} Documentation
        %li
          %a{href: "http://wordpress.org/extend/plugins/"} Plugins
        %li
          %a{href: "http://wordpress.org/extend/ideas/"} Suggest Ideas
        %li
          %a{href: "http://wordpress.org/support/"} Support Forum
        %li
          %a{href: "http://wordpress.org/extend/themes/"} Themes
        %li
          %a{href: "http://wordpress.org/news/"} WordPress Blog
        %li
          %a{href: "http://planet.wordpress.org/"} WordPress Planet
    / end .widget
  / end #sidebar
