#category-name
  #category-inner
    %h3 "Chameleon is an extremely versatile theme with a myriad of options and styles"
    %p Aliquam venenatis enim in mi iaculis in tempor lectus tempor et convallis erat pellentesque
/ end .category-name
