#footer
  #footer-content.clearfix
    #footer-widgets.clearfix
      #customlogowidget-3.footer-widget.widget_customlogowidget
        %p#footer-logo
        %p Cras euismod, sapien ut accumsan feugiat, mauris erat auctor metus, sed pellentesque massa tellus non enim. Aliquam commodo, risus sed posuere eleifend, odio nisi rhoncus nisl, vitae pharetra sem arcu non dui.

      #recent-posts-3.footer-widget.widget_recent_entries
        %h4.widgettitle Последние посты
        %ul
          - recent_posts.each do |post|
            %li= link_to post, post_path(post)

      #recent-posts-3.footer-widget.widget_recent_entries
        %h4.widgettitle Последние квартиры
        %ul
          - recent_houses.each do |house|
            %li= link_to house, house_path(house)

      #text-3.footer-widget.widget_text
        %h4.widgettitle Text Widget
        .textwidget Pellentesque sodales odio nec justo bibendum vitae porttitor metus luctus. Nulla volutpat, arcu in convallis imperdiet, arcu velit auctor purus, a rutrum nunc neque at elit. Cras euismod, sapien ut accumsan feugiat, mauris erat auctor metus, sed pellentesque massa tellus non enim.
