#footer
  #footer-content.clearfix
    #footer-widgets.clearfix
      #recent-posts-3.footer-widget.widget_recent_entries
        %h4.widgettitle Идеи для путешествий
        %ul
          - recent_travel_ideas.each do |idea|
            %li= link_to idea, travel_idea_path(idea)

      #recent-posts-3.footer-widget.widget_recent_entries
        %h4.widgettitle Последние посты
        %ul
          - recent_posts.each do |post|
            %li= link_to post, post_path(post)

      #recent-posts-3.footer-widget.widget_recent_entries
        %h4.widgettitle Последние квартиры
        %ul
          - recent_houses.each do |house|
            %li= link_to house, house_path(house)

      #customlogowidget-3.footer-widget.widget_customlogowidget
        %p#footer-logo
        %p Небольшой текст с адресом и телефоном
