#from-blog
  #recent-posts-5.main-widget.widget_recent_entries
    %h3.title From The Blog
    %ul
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/make-a-wish/"} Make A Wish
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/the-morning-dew/"} The Morning Dew
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/purple-haze/"} Purple Haze
      %li
        %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/bridge-to-nowhere/"} Bridge To Nowhere
