<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tripclub.su | <%= title %></title>

<link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/colorpicker.css" type="text/css" media="screen" />

<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Kreon:light,regular' rel='stylesheet' type='text/css'/>

<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="/css/ie6style.css" />
	<script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript">DD_belatedPNG.fix('img#logo, span.overlay, a.zoom-icon, a.more-icon, #menu, #menu-right, #menu-content, ul#top-menu ul, #menu-bar, .footer-widget ul li, span.post-overlay, #content-area, .avatar-overlay, .comment-arrow, .testimonials-item-bottom, #quote, #bottom-shadow, #quote .container');</script>
<![endif]-->
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="/css/ie7style.css" />
<![endif]-->
<!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="/css/ie8style.css" />
<![endif]-->

<script type="text/javascript">
	document.documentElement.className = 'js';
</script>

<link rel='stylesheet' id='et_responsive-css'  href='/css/responsive.css?ver=3.7' type='text/css' media='all' />

<!-- used in scripts -->
<style type="text/css">
  body { background-color: #6a8e94; }
</style>
<link id='droid_sans' href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css' />
<style type='text/css'>
  body { font-family: 'Droid Sans', Arial, sans-serif !important;  }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<style type="text/css">
  .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
</style>
<style type="text/css">
  #et_pt_portfolio_gallery { margin-left: -41px; margin-right: -51px; }
  .et_pt_portfolio_item { margin-left: 35px; }
  .et_portfolio_small { margin-left: -40px !important; }
  .et_portfolio_small .et_pt_portfolio_item { margin-left: 32px !important; }
  .et_portfolio_large { margin-left: -26px !important; }
  .et_portfolio_large .et_pt_portfolio_item { margin-left: 11px !important; }
</style>

<%= stylesheet_link_tag "web/application", :media => "all" %>
</head>

