#header.clearfix
  %a{href: "http://www.elegantthemes.com/preview/Chameleon/"}
    %img#logo{alt: "Chameleon Theme", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/themes/Chameleon/images/logo.png"}/
  %p#slogan Здесь будет слоган
  %a#mobile_nav.closed{href: "#"}
    Меню
    %span
  = render_menu slug: 'top_menu', tpl: 'web/shared/menu/top_menu'
  -# %ul#top-menu.nav
  -#   %li#menu-item-444.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-444
  -#     %a{href: "http://www.elegantthemes.com/preview/Chameleon/"} Home
  -#   %li#menu-item-11.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-11
  -#     %a{href: "http://www.elegantthemes.com/preview/Chameleon/category/blog/"} Blog
  -#   %li#menu-item-402.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-402
  -#     %a{href: "http://www.elegantthemes.com/preview/Chameleon/page-templates/"} Page Templates
  -#     %ul.sub-menu
  -#       %li#menu-item-398.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-398
  -#         %a{href: "http://www.elegantthemes.com/preview/Chameleon/sitemap/"} Sitemap
  -#       %li#menu-item-399.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-399
  -#         %a{href: "http://www.elegantthemes.com/preview/Chameleon/advanced-search/"} Advanced Search
  -#       %li#menu-item-400.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-400
  -#         %a{href: "http://www.elegantthemes.com/preview/Chameleon/member-login/"} Member Login
  -#       %li#menu-item-401.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-401
  -#         %a{href: "http://www.elegantthemes.com/preview/Chameleon/image-gallery/"} Image Gallery
  -#       %li#menu-item-407.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-407
  -#         %a{href: "http://www.elegantthemes.com/preview/Chameleon/portfolio/"} Portfolio
  -#         %ul.sub-menu
  -#           %li#menu-item-411.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-411
  -#             %a{href: "http://www.elegantthemes.com/preview/Chameleon/portfolio-medium/"} Portfolio Smalll
  -#           %li#menu-item-412.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-412
  -#             %a{href: "http://www.elegantthemes.com/preview/Chameleon/portfolio/"} Portfolio Medium
  -#           %li#menu-item-410.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-410
  -#             %a{href: "http://www.elegantthemes.com/preview/Chameleon/portfolio-large/"} Portfolio Large
  -#           %li#menu-item-408.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-408
  -#             %a{href: "http://www.elegantthemes.com/preview/Chameleon/portrait-orientation/"} Portrait Orientation
  -#           %li#menu-item-413.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-413
  -#             %a{href: "http://www.elegantthemes.com/preview/Chameleon/portfolio-with-sidebar/"} Portfolio With Sidebar
  -#           %li#menu-item-414.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-414
  -#             %a{href: "http://www.elegantthemes.com/preview/Chameleon/portfolio-no-text/"} Portfolio No Text
  -#       %li#menu-item-403.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-403
  -#         %a{href: "http://www.elegantthemes.com/preview/Chameleon/full-width-2/"} Full Width
  -#       %li#menu-item-404.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-404
  -#         %a{href: "http://www.elegantthemes.com/preview/Chameleon/blog-feed/"} Blog Feed
  -#       %li#menu-item-405.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-405
  -#         %a{href: "http://www.elegantthemes.com/preview/Chameleon/contact-us/"} Contact Us
  -#   %li#menu-item-236.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-236
  -#     %a{href: "http://www.elegantthemes.com/preview/Chameleon/shortcodes/"} Shortcodes
  -#   %li#menu-item-406.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-406
  -#     %a{href: "http://www.elegantthemes.com/preview/Chameleon/contact-us/"} Contact Us
  #additional-info
    #et-social-icons
      %a{href: "#", target: "_blank"}
        %img{alt: "Twitter", src: "/images/twitter.png"}/
      %a{href: "#", target: "_blank"}
        %img{alt: "Facebook", src: "/images/facebook.png"}/
    #search-form
      %form#searchform{action: "", method: "get"}
        %input#searchinput{name: "s", type: "text", value: "Search this site..."}/
        %input#searchsubmit{src: "/images/search_btn.png", type: "image"}/
