#header.clearfix
  %a{href: "/"}
    %img#logo{alt: "TripClub.su", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/themes/Chameleon/images/logo.png"}/
  %p#slogan Здесь будет слоган
  %a#mobile_nav.closed{href: "#"}
    Меню
    %span
  = render_menu slug: 'top_menu', tpl: 'web/shared/menu/top_menu'
  #additional-info
    #et-social-icons
      %a{href: "#", target: "_blank"}
        %img{alt: "Twitter", src: "/images/twitter.png"}/
      %a{href: "#", target: "_blank"}
        %img{alt: "Facebook", src: "/images/facebook.png"}/
    #search-form
      %form#searchform{action: "", method: "get"}
        %input#searchinput{name: "s", type: "text", value: "Поиск"}/
        %input#searchsubmit{src: "/images/search_btn.png", type: "image"}/
