#multi-media-bar
  %h3.title Multi Media Bar
  #et-multi-media.clearfix
    %a#left-multi-media{href: "#"} Previous
    %a#right-multi-media{href: "#", next: ""}
    #media-slides
      .media-slide
        .thumb
          %a.fancybox{href: "http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/2.jpg", rel: "media", title: "Make A Wish"}
            %img.multi-media-image{alt: "Make A Wish", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/2-120627_48x48.jpg", width: "48"}/
            %span.more
          .media-description
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis porta nibh, a...
            %span.media-arrow
        / end .thumb
        .thumb
          %a.fancybox{href: "http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/3.jpg", rel: "media", title: "The Morning Dew"}
            %img.multi-media-image{alt: "The Morning Dew", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/3-135379_48x48.jpg", width: "48"}/
            %span.more
          .media-description
            %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;...
            %span.media-arrow
        / end .thumb
        .thumb
          %a.et-video.fancybox{href: "#et_video_post_270", title: "Purple Haze"}
            %img.multi-media-image{alt: "Purple Haze", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/s-1-624464_48x48.png", width: "48"}/
            %span.more
          .media-description
            %p Nullam at massa orci. Nulla suscipit adipiscing tincidunt. Donec purus arcu, posuere et...
            %span.media-arrow
        / end .thumb
        .thumb
          %a.fancybox{href: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/s-3.png", rel: "media", title: "Bridge To Nowhere"}
            %img.multi-media-image{alt: "Bridge To Nowhere", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/s-3-630122_48x48.png", width: "48"}/
            %span.more
          .media-description
            %p Donec sed metus ipsum, laoreet suscipit purus. Fusce ante lorem, luctus et tincidunt...
            %span.media-arrow
        / end .thumb
        .thumb
          %a.fancybox{href: "http://www.elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/6.jpg", rel: "media", title: "The Lonely Ladybug"}
            %img.multi-media-image{alt: "The Lonely Ladybug", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/6-82087_48x48.jpg", width: "48"}/
            %span.more
          .media-description
            %p Nullam at massa orci. Nulla suscipit adipiscing tincidunt. Donec purus arcu, posuere et...
            %span.media-arrow
        / end .thumb
        .thumb
          %a.et-video.fancybox{href: "#et_video_post_259", title: "Monkeys Take a Bath"}
            %img.multi-media-image{alt: "Monkeys Take a Bath", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/7-78254_48x48.jpg", width: "48"}/
            %span.more
          .media-description
            %p Vivamus sit amet quam lacus, et suscipit massa. Morbi eget ligula vitae massa...
            %span.media-arrow
        / end .thumb
        .thumb.last
          %a.fancybox{href: "http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/8.jpg", rel: "media", title: "Birds of Beauty"}
            %img.multi-media-image{alt: "Birds of Beauty", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/8-70372_48x48.jpg", width: "48"}/
            %span.more
          .media-description
            %p Sed sed tellus ac turpis mollis euismod. Ut eget justo non felis sollicitudin suscipit....
            %span.media-arrow
        / end .thumb
      / end .media-slide
      .media-slide
        .thumb
          %a.fancybox{href: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/s-2.png", rel: "media", title: "Summer Wheat"}
            %img.multi-media-image{alt: "Summer Wheat", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/s-2-458164_48x48.png", width: "48"}/
            %span.more
          .media-description
            %p Donec sed metus ipsum, laoreet suscipit purus. Fusce ante lorem, luctus et tincidunt...
            %span.media-arrow
        / end .thumb
        .thumb
          %a.et-video.fancybox{href: "#et_video_post_253", title: "Calm Before The Storm"}
            %img.multi-media-image{alt: "Calm Before The Storm", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/shutterstock_5055934-183251_48x48.jpg", width: "48"}/
            %span.more
          .media-description
            %p Donec auctor ullamcorper nunc, vitae pellentesque mi fringilla posuere. Maecenas semper...
            %span.media-arrow
        / end .thumb
        .thumb
          %a.fancybox{href: "http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/shutterstock_20951311.jpg", rel: "media", title: "Bamboo Shoots"}
            %img.multi-media-image{alt: "Bamboo Shoots", height: "48", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/shutterstock_20951311-105492_48x48.jpg", width: "48"}/
            %span.more
          .media-description
            %p Etiam cursus, nibh in suscipit tincidunt, ante enim scelerisque lacus, sed consectetur...
            %span.media-arrow
