#services.clearfix
  .service
    %h3.title Услуга №1
    .thumb
      %a{href: "http://www.elegantthemes.com/preview/Chameleon/about/"}
        %img.item-image{alt: "Mission Statement", height: "160", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/t-1.png", width: "376"}/
        %span.more-icon
    %p Небольшой текст с описанием услуги

  .service
    %h3.title Услуга №2
    .thumb
      %a{href: "http://www.elegantthemes.com/preview/Chameleon/what-i-do/"}
        %img.item-image{alt: "Who We Are", height: "160", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/t-2.png", width: "376"}/
        %span.more-icon
    %p Небольшой текст с описанием услуги

  .service.last
    %h3.title Услуга №3
    .thumb
      %a{href: "http://www.elegantthemes.com/preview/Chameleon/who-i-am/"}
        %img.item-image{alt: "What We Do", height: "160", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/t-3.png", width: "376"}/
        %span.more-icon
    %p Небольшой текст с описанием услуги
