#services.clearfix
  .service
    %h3.title Mission Statement
    .thumb
      %a{href: "http://www.elegantthemes.com/preview/Chameleon/about/"}
        %img.item-image{alt: "Mission Statement", height: "160", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/t-1.png", width: "376"}/
        %span.more-icon
    %p Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi.

  .service
    %h3.title Who We Are
    .thumb
      %a{href: "http://www.elegantthemes.com/preview/Chameleon/what-i-do/"}
        %img.item-image{alt: "Who We Are", height: "160", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/t-2.png", width: "376"}/
        %span.more-icon
    %p Nam commodo dignissim felis vitae ullamcorper. Sed volutpat velit id purus bibendum placerat. Sed porta, nulla ac interdum ullamcorper, mi orci porta eros, nec commodo ligula dolor et arcu.

  .service.last
    %h3.title What We Do
    .thumb
      %a{href: "http://www.elegantthemes.com/preview/Chameleon/who-i-am/"}
        %img.item-image{alt: "What We Do", height: "160", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/t-3.png", width: "376"}/
        %span.more-icon
    %p Integer egestas ultricies urna vitae molestie. Donec nec facilisis nisi. Vivamus tempor feugiat velit gravida vehicula. Donec faucibus pellentesque ipsum id varius. Ut rutrum metus sed neque ultricies a dictum.
