
<div id="services" class="clearfix">
  <div class="service">
    <h3 class="title">Mission Statement</h3>

    <div class="thumb">
      <a href="http://www.elegantthemes.com/preview/Chameleon/about/">
        <img src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/t-1.png" class='item-image'  alt='Mission Statement' width='376' height='160' />										<span class="more-icon"></span>
      </a>
    </div> <!-- end .thumb -->

    <p>Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi. </p>
  </div> <!-- end .service -->
  <div class="service">
    <h3 class="title">Who We Are</h3>

    <div class="thumb">
      <a href="http://www.elegantthemes.com/preview/Chameleon/what-i-do/">
        <img src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/t-2.png" class='item-image'  alt='Who We Are' width='376' height='160' />										<span class="more-icon"></span>
      </a>
    </div> <!-- end .thumb -->

    <p>Nam commodo dignissim felis vitae ullamcorper. Sed volutpat velit id purus bibendum placerat. Sed porta, nulla ac interdum ullamcorper, mi orci porta eros, nec commodo ligula dolor et arcu.</p>
  </div> <!-- end .service -->
  <div class="service last">
    <h3 class="title">What We Do</h3>

    <div class="thumb">
      <a href="http://www.elegantthemes.com/preview/Chameleon/who-i-am/">
        <img src="http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/t-3.png" class='item-image'  alt='What We Do' width='376' height='160' />										<span class="more-icon"></span>
      </a>
    </div> <!-- end .thumb -->

    <p>Integer egestas ultricies urna vitae molestie. Donec nec facilisis nisi. Vivamus tempor feugiat velit gravida vehicula. Donec faucibus pellentesque ipsum id varius. Ut rutrum metus sed neque ultricies a dictum.</p>
  </div> <!-- end .service -->
</div> <!-- end #services -->

