.flex-container
  #featured.flexslider
    %ul.slides
      %li.slide
        %img{alt: "Purple Haze", height: "332", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/s-1.png", width: "960"}/
        .featured-top-shadow
        .featured-bottom-shadow
        .featured-description
          %h2.featured-title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/purple-haze/"} Purple Haze
          %p Nullam at massa orci. Nulla suscipit adipiscing tincidunt. Donec purus arcu, posuere et pellentesque vitae, mattis in dui. Ut quis mi in erat blandit porta a sed risus. Maecenas nibh nisl, blandit in vestibulum non, pharetra id erat. Aenean vulputate elementum velit. Sed sed...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/purple-haze/"} Read More

      %li.slide
        %img{alt: "Bridge To Nowhere", height: "332", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/2010/09/s-3.png", width: "960"}/
        .featured-top-shadow
        .featured-bottom-shadow
        .featured-description
          %h2.featured-title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/bridge-to-nowhere/"} Bridge To Nowhere
          %p Donec sed metus ipsum, laoreet suscipit purus. Fusce ante lorem, luctus et tincidunt vel, vestibulum et mauris. Sed ut diam est. Nulla eget elit dui, vitae auctor nibh. Sed non leo a tellus condimentum posuere ut quis leo. Suspendisse accumsan ullamcorper nunc. Sed nulla odio,...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/bridge-to-nowhere/"} Read More

      %li.slide
        %img{alt: "Summer Wheat", height: "332", src: "http://cdn.elegantthemes.com/preview/Chameleon/wp-content/uploads/et_temp/feat-3-664858_960x332.png", width: "960"}/
        .featured-top-shadow
        .featured-bottom-shadow
        .featured-description
          %h2.featured-title
            %a{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/summer-wheat/"} Summer Wheat
          %p Donec sed metus ipsum, laoreet suscipit purus. Fusce ante lorem, luctus et tincidunt vel, vestibulum et mauris. Sed ut diam est. Nulla eget elit dui, vitae auctor nibh. Sed non leo a tellus condimentum posuere ut quis leo. Suspendisse accumsan ullamcorper nunc. Sed nulla odio,...
          %a.readmore{href: "http://www.elegantthemes.com/preview/Chameleon/2010/09/15/summer-wheat/"} Read More

#controllers
